<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>WhatsServer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
  <link rel="apple-touch-icon" sizes="194x194" href="/static/img/apple-touch-icon.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/qrcode.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="notifications"></div>
<div id="app">
  <div class="app-wrapper app-wrapper-web">
    <div id="wrapper">
      <div id="window">
        <div class="entry-main">
          <div class="qrcode">
            <img alt="Leia o QRCODE" id="base64" style="display: block;" src="/img/qr-start.png">
            <div id="loading-overlay">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" width="150" height="150">
                <circle r="80" cx="500" cy="90">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="500" cy="910">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="90" cy="500">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="910" cy="500">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="212" cy="212">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="788" cy="212">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="212" cy="788">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
                <circle r="80" cx="788" cy="788">
                  <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="3s"
                    from="0 500 500"
                    to="360 500 500"
                    repeatCount="indefinite"
                  />
                </circle>
              </svg>
            </div>
          </div>
          <div class="entry-text" style="text-align: center;">
            <div class="entry-title">WhatsServer</div>
            <div class="entry-subtitle" id="desc_info">Use o WhatsApp no seu telefone para ler o qrcode.
            </div>
            <div class="entry-controls" id="action_button">
              <label>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#form_modal"> Conectar
                  nova sessão
                </button>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="form_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="height: 300px;">
        <div class="modal-header">
          <h5 class="modal-title" id="form_modal_label">Iniciar uma nova sessão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="session_name" class="col-form-label">Nome da Sessão:</label>
              <input type="text" title="Digite o nome da sessão" class="form-control" id="session_name" value="">
            </div>
            <!--<div class="form-group">
              <label for="session_key" class="col-form-label">Chave da sessão:</label>
              <input type="text" title="Digite o nome da sessão" class="form-control" id="session_key"
                     value="teste">
            </div>-->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fechar</button>
          <button type="button" id="buttonStart" class="btn btn-success" onclick="start()">Start</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="sendtext_modal" tabindex="-1" role="dialog" aria-labelledby="form_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendtext_modal_label">Enviar mensagens</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="session_name" class="col-form-label">Número:</label>
              <input type="text" title="Digite o nome da sessão" class="form-control" id="number" value="">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Mensagem:</label>
              <input type="text" title="Digite o nome da sessão" class="form-control" id="message" value="teste">
            </div>
            <div class="form-group">
              <label for="file" class="col-form-label">Selecionar Arquivo:</label>
              <input type="file" class="form-control-file" id="file" name="file">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fechar</button>
          <button type="button" onclick="send_text()" id="send_message" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src="/js/controllers/notify.js"></script>
<script src="/js/controllers/appController.js"></script>
</body>
</html>
